@import "reset.css";

html {
  font-family: 'Tahoma', sans-serif;
}

body {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
}

section nav {
  background: url('../img/nav-bg.png') repeat-x;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

nav ul li a {
  display: block;
  line-height: 36px;
  color: #4f9fd8;
  text-decoration: none;
  padding: 0 15px;
}

nav ul li:nth-child(6) a {
  border-left: solid 1px #56a2dc;
  color: #fff;
  padding-left: 10px;
}

nav ul li:nth-child(6) a:before {
  content: "";
  float: left;
  background: url("../img/icon.png") no-repeat 0 6px;
  width: 25px;
  height: 27px;
  padding-left: 5px;
}

nav ul li:nth-child(-n+5) a:hover {
  background-color: #4eabda;
  color: #fff;
}

nav ul li:last-child {
  color: #fff;
  background: linear-gradient(to top, #2e7ac4, #51b1dc);
  padding: 0 15px;
  border: solid 1px #449ad3;
}

nav ul li:last-child a {
  line-height: 34px;
  display: inline-block;
  padding: 0;
  color: #fff;
  text-decoration: underline;
}

form {
  width: 560px;
  background-color: rgba(0,0,0,.6);
  margin: auto;
  margin-top: 190px;
  margin-bottom: 190px;
  display: flex;
  flex-direction: column;
}

form h1 {
  line-height: 64px;
  text-align: center;
  color: #fff;
  font-size: 26px;
}

form hr {
  width: inherit;
}

form a {
  align-self: center;
  margin-top: 35px;
}

form fieldset {
  align-self: center;
  border-top: solid 1px #666666;
  width: 276px;
}

form fieldset legend {
  text-align: center;
  line-height: 75px;
  color: #ccc;
  padding: 0 10px;

}

form > fieldset > input {
  width: 276px;
  height: 36px;
  background-color: #000;
  border: none;
  margin-bottom: 25px;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  align-self: center;
  padding-left: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
}

form > fieldset > input::-webkit-input-placeholder {
  color: #ccc;
}

form > fieldset > input:focus {
  background-color: #1b5288;
  box-shadow: 0px 0px 10px 3px rgba(104,155,204,1);
}

article {
  width: 276px;
  align-self: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
}

article label {
  font-size: 13px;
  color: #ccc;
}

article button {
  display: block;
  width: 146px;
  line-height: 36px;
  padding: 0 15px;
  color: #fff;
  border-radius: 5px;
  background-color: #ccc;
  margin: auto;
  margin-top: 25px;
  background: linear-gradient(to top, #2e7ac4, #4faddb);
  border: solid 1px #67c6e6;
}

footer {
  /* display: block; */
  width: 310px;
  line-height: 1.5;
  color: #ccc;
  text-align: center;
  font-size: 11px;
  margin: 25px 0;
  margin-left: auto;
  margin-right: auto;
}
